*{
    margin: 0;
    padding: 0;
}
nav>a>img {
    max-width: 100px;
}
.nav-link {
    color: white !important;
}
.nav-link:hover{
    background-color: white;
    color: black !important;
}
.rodape{
    background-color: #28a745 ;
    color: white;
    height: 100px;
}
.span-verde{
    background-color:#28a745 ;
    color: white;
    border-radius: 10px;
}